/* RESETEO GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUERPO DE LA PAGINA */

body {
    font-family: Arial, sans-serif;
    background-color: #f8efe6;
    color: #333;
    line-height: 1.6;
}

/* HEADER */

header {
    background-color: #c19a6b;
    color: white;
    text-align: center;
    padding: 25px;
}

/* MENU */

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* SECCIONES */

section {
    padding: 40px 20px;
    text-align: center;
}

/* BOTONES */

button {
    background-color: #c19a6b;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
}

button:hover {
    background-color: #9b744d;
}

/* FOOTER */

footer {
    background-color: #c19a6b;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    nav a {
        display: block;
        margin: 10px 0;
    }

}